<!DOCTYPE html>
<html>
<head>
<title>Lexington Irish Session</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/w3.css">
<link rel="stylesheet" href="static/css/styles.css">
<script src="static/js/abcjs-basic-min.js"></script>
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
h4, h5, h6 {
  font-family: "Playfair Display";
}
</style>

<!-- Additional CSS Content -->
{% block headCSS %}{% endblock %}

</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding">
  <a href="index.html" class="w3-bar-item w3-button w3-border-top w3-border-bottom w3-border-green w3-hover-green w3-round-xlarge" style="letter-spacing:4px;">Lexington Irish Session</a>
  <div class="w3-right">
    <a href="index.html#sets" class="w3-bar-item w3-button w3-hide-small w3-hover-green w3-round-xlarge">Sets</a>
    <a href="tune.html" class="w3-bar-item w3-button w3-hide-small w3-hover-green w3-round-xlarge">Tunes</a>
    <a href="tune_index.html" class="w3-bar-item w3-button w3-hide-small w3-hover-green w3-round-xlarge">Tune Index</a>
  </div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium 3-hover-green w3-round-xlarge" onclick="hamburgerMenu()">&#9776;</a>
  </div>
  <div id="demo" class="w3-bar-block w3-hide  w3-white w3-hide-large w3-hide-medium">
    <a href="index.html#sets" class="w3-bar-item w3-button w3-hover-green w3-round-xlarge">Sets</a>
    <a href="tune.html" class="w3-bar-item w3-button w3-hover-green w3-round-xlarge">Tunes</a>
    <a href="tune_index.html" class="w3-bar-item w3-button w3-hover-green w3-round-xlarge">Tune Index</a>
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding-64" style="max-width:1100px">

  {% block content %}{% endblock %}
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-left-align w3-light-grey w3-padding-32">
  <p class="w3-padding-large">2025</p>
</footer>

<!-- After Javascript -->
{% block afterJavascript %}{% endblock %}
<script src="static/js/backtotopbtn.js"></script>
<script>
function hamburgerMenu() {
  var x = document.getElementById("demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
