<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIMA Tunes</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

    <!-- CSS Files -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Additional CSS Content -->
    {% block headCSS %}{% endblock %}

    <!-- Javascript Files -->
    <script data-goatcounter="https://claytoncook12.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <script src="static/js/abcjs-basic-min.js"></script>
</head>
<body>

<!-- Header -->
<div class="header">
    <a href="index.html">
        <img 
        src="static/images/KIMAlogo500.png"
        style="width: 80px;"
    >
    </a>
    <h1 class="header-title">Kentucky Irish Music Academy<br>Tune Book</h1>
    <div class="navigation">
        <a href="index.html">Sets</a>
        <a href="tune.html">Tunes</a>
        <a href="tune_index.html">Tune Index</a><br>
        <a href="submit-a-tune.html">Submit A Tune</a>
    </div>
</div>

<!-- Main Content -->
<div class="main">
    {% block content %}{% endblock %}

    <!-- Back to Top Btn -->
    <button onclick="topFunction()" id="backToTopBtn" title="Go to top"
    style="position:fixed; bottom: 0; float: right; padding: 3px; margin: 5px; display: none;"
    >
    <small>&#8593;</small>
    </button>
</div>

<!-- Bottom Padding -->
<div class="bottom-padding"></div>

<!-- After Javascript -->
{% block afterJavascript %}{% endblock %}
<script src="static/js/backtotopbtn.js"></script>
</body>
</html>