{% extends '_base.html' %}

{% block content %}

<!-- Image Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="static/images/NativeCafeTable.jpeg" alt="Native Cafe Table" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large" hidden>
    <h1 class="w3-xxlarge">Lexington Irish Session</h1>
  </div>
</header>

<!-- Welcome Paragraph -->
<div class="w3-container w3-center" id="welcome">
    <h1>Welcome to the Lexington Irish Session</h1>
    <p>Enjoy traditional Irish music in a friendly and welcoming environment.</p>
</div>
<hr>

<!-- Calendar -->
<div class="w3-container w3-center" id="calender">
    <h2>Upcoming Events</h2>
    <div class="google-calendar-container">
        <iframe 
            src="https://calendar.google.com/calendar/embed?src=f51d24e682f96b84acb2b8a7768e934b725a7f0cab2370677da140f15478e84a%40group.calendar.google.com&ctz=America%2FNew_York" 
            style="border-width:0" 
            width="800" 
            height="600" 
            frameborder="0" 
            scrolling="no">
        </iframe>
    </div>
</div>
<hr>

<!-- Set Section -->
<div class="w3-container w3-center" id="sets">
    <h2>Sets</h2>
    <p>Here is a selection of common sets we play.</p>

{% for tune_type in tune_types %}
    {% if tune_type != 'set dance' %}
    <h4 class="tune-type-title">{{ tune_type|title }} Sets</h4>
    {% else %}
    <h4>Set Dances</h4>
    {% endif %}
    <hr class="hr-short">
    <ol>
    {% for set in set_list %}
        {% if tune_type == set.set_type %}
        <li class="set-name">
            <button class="accordion">
                {{ set.set_name() }}
            </button>
            <div class="panel">
                <div class="tune-additional-data">
                    {% if set.reference_audios|length > 0 %}
                        <h4>Audio References</h4>
                        {% for audio in set.reference_audios %}
                            <div class="audio-container">
                                <h5 class="audio-title">{{ audio.title }}</h5>
                                <h5>Instrument: {{ audio.instruments }}</h5>
                                <audio controls>
                                    <source src="static/audio/{{ audio.audio_file_name }}" type="audio/mp3">
                                </audio>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% for tune in set.set_tune_list %}
                    <a href="tune.html#{{ tune.slug_id() }}">
                        <div id="{{ tune.slug_id() }}" class="tune" >
                            <pre>{{ tune.abc_notation }}</pre>
                        </div>
                    </a>
                {% endfor%}
            </div>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
{% endfor %}

    </div>
</div>
{% endblock %}

{% block afterJavascript %}
<script type="text/javascript">
    /** Accordion Functionality **/
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>

<script type="text/javascript">
    var els = document.getElementsByClassName('tune');
    
    var visualOptions = { responsive: 'resize' };
    for (let index = 0; index < els.length; index++) {
        ABCJS.renderAbc(els[index].id,els[index].textContent,visualOptions)
        // ABCJS.renderAbc(els[index].id,els[index].textContent)
    }
</script>
{% endblock %}