{% extends '_base.html' %}

{% block content %}

<!-- Image Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:3200px;" id="home">
  <img class="w3-image" src="static/images/NativeCafeTable.jpeg" alt="Native Cafe Table" width="3200" height="1600">
  <div class="w3-display-bottomleft w3-padding-large" hidden>
    <h1 class="w3-xxlarge">Lexington Irish Session</h1>
  </div>
</header>

<!-- Welcome Paragraph -->
<div class="w3-container w3-center w3-light-green my-background" id="welcome">
    <div class="w3-paper w3-padding w3-round-xxlarge" style="margin: 20px">
        <h1 class="w3-opacity-off">Welcome to the Lexington Irish Session</h1>
        <p class="w3-opacity-off">Enjoy traditional Irish dance music in a friendly and welcoming environment.</p>
    </div>
</div>

<!-- Calendar -->
<div class="w3-container w3-center w3-padding-16" id="calender">
    <h2>Upcoming</h2>
    <hr>
    <div class="google-calendar-container">
        <iframe 
            src="https://calendar.google.com/calendar/embed?src=f51d24e682f96b84acb2b8a7768e934b725a7f0cab2370677da140f15478e84a%40group.calendar.google.com&ctz=America%2FNew_York" 
            style="border-width:0" 
            width="800" 
            height="600" 
            frameborder="0" 
            scrolling="no">
        </iframe>
    </div>
</div>

<!-- Set Section -->
<div class="w3-container w3-center w3-padding-48" id="sets">
    <h2>Sets</h2>
    <hr>
    <p>Here is a selection of common sets we play.</p>

{% for tune_type in tune_types %}
    <div class="w3-left-align">
        {% if tune_type != 'set dance' %}
        <h4>{{ tune_type|title }} Sets</h4>
        {% else %}
        <h4>Set Dances</h4>
        {% endif %}
    </div>
    {% for set in set_list %}
        {% if tune_type == set.set_type %}
            <button onclick="showNextDiv(this)" class="w3-button w3-block w3-left-align">
                <span style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                    {{ set.set_name() }}
                </span>
                <div class="w3-right">+</div>
            </button>
            <div class="w3-container w3-padding-16 w3-hide">
                <div class="w3-row">
                    {% if set.reference_audios|length > 0 %}
                        {% for audio in set.reference_audios %}
                            <div class="w3-col m12 l6 w3-panel w3-border w3-round-xxlarge">
                                Audio: {{ audio.title }}<br>
                                <audio controls>
                                    <source src="static/audio/{{ audio.audio_file_name }}" type="audio/mp3">
                                </audio><br>
                                Instrument: {{ audio.instruments }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="w3-col m8 l6">
                        {% for tune in set.set_tune_list %}
                            <a href="tune/{{ tune.slug_id() }}.html">
                                <div id="{{ tune.slug_id() }}" class="tune" >
                                    <pre>{{ tune.abc_notation }}</pre>
                                </div>
                            </a>
                        {% endfor%}
                    </div>
                </div>
            </div>
        {%  endif %}
    {% endfor %}
{% endfor %}
</div>
{% endblock %}

{% block afterJavascript %}
<script>
function showNextDiv(element) {
    var nextDiv = element.nextElementSibling;
    if (nextDiv && nextDiv.tagName === 'DIV') {
        if (nextDiv.className.indexOf("w3-show") == -1) {
            nextDiv.className += " w3-show";
        } else {
            nextDiv.className = nextDiv.className.replace(" w3-show", "");
        }
    }
}
</script>

<script type="text/javascript">
    var els = document.getElementsByClassName('tune');
    
    var visualOptions = { responsive: 'resize' };
    for (let index = 0; index < els.length; index++) {
        ABCJS.renderAbc(els[index].id,els[index].textContent,visualOptions)
        // ABCJS.renderAbc(els[index].id,els[index].textContent)
    }
</script>
{% endblock %}