{% extends '_base.html' %}

{% block headCSS %}
<style>
    .todo-list {
        padding: 0 50px;
        text-align: left;
    }
</style>
{% endblock %}

{% block content %}
<h2>To Do List</h2>

<p>
    Below are lists of tunes that are planned to be included in the tune book
    but have not been notated. If you would like notate any of the tunes below
    please submit through the <a href="submit-a-tune.html">Submit A Tune</a>
    page. Additionally, if you would like to add chords to an existing tune in
    the tune book just submit the tune abc with chords on the 
    <a href="submit-a-tune.html">Submit A Tune</a>
    page.
</p>

<h2 class="tune-type-title">Reels</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Devanney's Goat</li>
        <li>Green Fields of Rossbeigh</li>
        <li>Congress Reel</li>
        <li>Over the Moor to Maggie</li>
        <li>Trip to Durrow</li>
        <li>Frank's Reel</li>
    </ol>

<h2 class="tune-type-title">Jigs</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Thrush in the Straw</li>
        <li>Lark on the Strand</li>
        <li>Tar Road to Sligo</li>
        <li>Trip to the Cottage</li>
        <li>Calliope House</li>
        <li>Sweets of May</li>
    </ol>

<h2 class="tune-type-title">Slip Jigs</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Kid on the Mountain</li>
        <li>High Road to Kilkenny</li>
        <li>A Blast of Wind</li>
    </ol>

<h2 class="tune-type-title">Hornpipes</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Her Long Golden Hair</li>
        <li>Scully Casey's</li>
        <li>The Peacock's Feathers</li>
        <li>Chief O'Neills</li>
        <li>Stack of Barley</li>
        <li>Bantry Bay</li>
        <li>Humours of Tuamgraney</li>
        <li>Walsh's</li>
    </ol>

<h2 class="tune-type-title">Polkas</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Farewell to Whiskey</li>
        <li>Lakes of Sligo</li>
        <li>John Ryan's</li>
        <li>Ballydesmond 2</li>
        <li>Ballydesmond 3</li>
    </ol>

<h2 class="tune-type-title">Slides</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Where's the Cat</li>
        <li>The Cat's Rambles to the Child's Saucepan</li>
    </ol>

<h2 class="tune-type-title">Mazurkas</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Sonny's Mazurka</li>
        <li>The Irish Mazurka</li>
    </ol>

<h2 class="tune-type-title">Marches</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Bonaparte Crossing the Alps</li>
        <li>The Battle of Aughrim</li>
    </ol>

<h2 class="tune-type-title">Hop Jigs</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Foxhunter's</li>
        <li>Cucanandy</li>
        <li>The Dusty Miller</li>
        <li>Comb Your Hair and Curl It</li>
        <li>Johnny McGreevy's</li>
    </ol>

<h2 class="tune-type-title">Waltzes</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>Planxty Hewlett</li>
        <li>Planxty Irwin</li>
        <li>Johsefins Dopvals (by Vasen)</li>
    </ol>

<h2 class="tune-type-title">Set Dances</h2>
<hr class="hr-short">
    <ol class="todo-list">
        <li>King of the Fairies</li>
        <li>The Blackbird</li>
        <li>Three Sea Captians</li>
        <li>Piper Through the Meadow Straying</li>
        <li>Orange Rogue</li>
        <li>St. Patrick's Day in the Morning</li>
        <li>Humors of Bandon</li>
    </ol>
{% endblock %}